Repository helpwave/web, pull requests merged in 2023-01, with the labels that each got.

#41 start using twind instead of tailwind
  app/components/Button.tsx
  app/components/Checkbox.tsx
  app/components/Header.tsx
  app/components/Input.tsx
  app/components/LanguageSwitcher.tsx
  app/components/Menu.tsx
  app/components/ProfilePicture.tsx
  app/components/UserCard.tsx
  app/components/UserMenu.tsx
  app/components/examples/Title.tsx
  app/package.json
  app/pages/_app.tsx
  app/pages/_document.tsx
  app/pages/contact.tsx
  app/pages/examples/intl.tsx
  app/pages/index.tsx
  app/pages/login.tsx
  app/pages/profile.tsx
  app/pages/settings.tsx
  app/tailwind.config.js
  app/twind/config.ts
  app/twind/next/app.ts
  app/twind/next/document.ts
  pnpm-lock.yaml
Labels: dashboard

#55 add ger and en texts
  landing-page/components/sections/FeaturesSection.tsx
  landing-page/components/sections/StartSection.tsx
Labels: enhancement, landing-page

#58 fix typo
  landing-page/components/sections/StartSection.tsx
Labels: bug, landing-page

#59 fix typo in header
  landing-page/components/Header.tsx
Labels: enhancement, landing-page
