Repository helpwave/web, pull requests merged in 2023-10, with the labels that each got.

#779 add avatar picture to TaskCard
  pnpm-lock.yaml
  tasks/components/cards/TaskCard.tsx
  tasks/mutations/user_mutations.ts
  tasks/package.json
  tasks/utils/grpc.ts
Labels: tasks, proffi-proofed

#774 Icons and SEO optimizations for tasks
  tasks/pages/_document.tsx
  tasks/public/favicon.ico
  tasks/public/favicon.svg
  tasks/public/manifest.json
  tasks/public/robots.txt
  tasks/public/touch-icon-128.png
  tasks/public/touch-icon-152.png
  tasks/public/touch-icon-167.png
  tasks/public/touch-icon-180.png
Labels: bug, tasks, chore

#784 Further SEO optimizations
  landing-page/components/sections/landing/Story.tsx
  landing-page/components/sections/story/StartSection.tsx
  landing-page/components/sections/talks/StartSection.tsx
  landing-page/components/sections/tasks/StartSection.tsx
Labels: chore
