Repository helpwave/web, pull requests merged in 2023-05, with the labels that each got.

#337 make external resource optional for features
  tasks/components/FeatureDisplay.tsx
  tasks/pages/index.tsx
Labels: enhancement, tasks

#346 Revert "fix: mobile interceptor through media-query instead of MobileView and…"
  lib/twind/config.ts
  pnpm-lock.yaml
  tasks/components/MobileInterceptor.tsx
  tasks/package.json
  tasks/pages/_app.tsx
Labels: bug, priority:high

#343 add confirm dialog on patient add
  tasks/components/RoomOverview.tsx
  tasks/mutations/room_mutations.tsx
  tasks/pages/ward/[uuid].tsx
Labels: enhancement, tasks

#338 Issue/271 persist lang setting
  lib/components/modals/LanguageModal.tsx
  lib/hooks/useLanguage.tsx
  lib/hooks/useLocalStorage.tsx
  lib/util/storage.ts
Labels: tasks

#345 Implement TaskTemplateWardPreview
  tasks/components/TaskTemplateWardPreview.tsx
  tasks/components/cards/TaskTemplateCard.tsx
  tasks/components/layout/WardDetails.tsx
Labels: enhancement, tasks

#335 fix: renamed notes to description
  tasks/components/layout/TaskDetailView.tsx
Labels: tasks

#342 fix: swap create/update button with danger zone
  tasks/components/layout/OrganizationDetails.tsx
  tasks/components/layout/WardDetails.tsx
Labels: tasks

#355 ci: narrow down deployment step
  .github/workflows/cicd-tasks.yaml
Labels: bug, devops

#357 change translations
  tasks/components/TaskTemplateListColumn.tsx
  tasks/components/layout/DashboardDisplay.tsx
Labels: enhancement, tasks

#339 add tasktemplate screens
  lib/components/Button.tsx
  lib/components/Span.tsx
  lib/components/user_input/Input.tsx
  tasks/components/BreadCrumb.tsx
  tasks/components/UserMenu.tsx
  tasks/components/cards/TaskTemplateCard.tsx
  tasks/components/layout/OrganizationDetails.tsx
  tasks/components/layout/TaskTemplateDetails.tsx
  tasks/components/layout/TaskTemplateDisplay.tsx
  tasks/components/layout/WardDetails.tsx
  tasks/components/layout/WardDisplay.tsx
  tasks/mutations/room_mutations.ts
  tasks/mutations/task_template_mutations.ts
  tasks/mutations/ward_mutations.ts
  tasks/pages/organizations.tsx
  tasks/pages/organizations/[uuid].tsx
  tasks/pages/templates.tsx
  tasks/pages/ward/[uuid]/templates.tsx
Labels: enhancement, tasks

#362 ci: ref_name instead of ref_short
  .github/workflows/cicd-tasks.yaml
Labels: bug, devops

#365 fix: use staging callback url for oauth
  tasks/utils/config.ts
Labels: bug

#356 add auto save to PatientDetails
  lib/twind/config.ts
  tasks/components/layout/KanabanBoard.tsx
  tasks/components/layout/PatientDetails.tsx
  tasks/hooks/useSaveDelay.ts
Labels: enhancement, tasks

#374 change bread crumb links
  tasks/components/layout/WardRoomList.tsx
  tasks/mutations/room_mutations.ts
  tasks/pages/ward/[uuid].tsx
  tasks/pages/ward/[uuid]/templates.tsx
Labels: enhancement, tasks

#367 add task templates to task creation
  lib/components/modals/Modal.tsx
  tasks/components/TaskDetailModal.tsx
  tasks/components/TaskTemplateListColumn.tsx
  tasks/components/cards/TaskTemplateCard.tsx
  tasks/components/layout/PatientDetails.tsx
  tasks/components/layout/TaskDetailView.tsx
  tasks/components/layout/TaskTemplateDetails.tsx
  tasks/components/layout/TaskTemplateDisplay.tsx
  tasks/components/layout/WardDetails.tsx
  tasks/mutations/task_template_mutations.ts
  tasks/pages/templates.tsx
  tasks/pages/ward/[uuid]/templates.tsx
Labels: enhancement

#391 Spotify Social Link
  landing-page/components/Footer.tsx
Labels: landing-page

#161 engage frontend and backend
  .editorconfig
  pnpm-lock.yaml
  tasks/README.md
  tasks/generated/Ward_svcServiceClientPb.ts
  tasks/generated/ward_svc_pb.d.ts
  tasks/generated/ward_svc_pb.js
  tasks/package.json
Labels: priority:high, tasks, #fixitfelix

#368 feat: task template label
  lib/twind/config.ts
  tasks/components/Label.tsx
  tasks/components/cards/TaskTemplateCard.tsx
Labels: enhancement, tasks

#386 outline overdue tasks
  lib/components/Card.tsx
  tasks/components/KanbanColumn.tsx
  tasks/components/cards/TaskCard.tsx
  tasks/components/layout/PatientDetails.tsx
  tasks/components/layout/TaskDetailView.tsx
  tasks/mutations/room_mutations.ts
Labels: enhancement, tasks

#394 add label to TaskTemplateCard
  tasks/components/TaskTemplateListColumn.tsx
  tasks/components/cards/TaskTemplateCard.tsx
  tasks/components/layout/TaskDetailView.tsx
Labels: enhancement, tasks

#396 fix wrong tailwind classes and introduce new labelType
  lib/components/Span.tsx
  lib/components/user_input/Input.tsx
  tasks/components/layout/TaskDetailView.tsx
Labels: enhancement, tasks

#408 remove bottom padding on TaskDetailView
  tasks/components/TaskTemplateListColumn.tsx
  tasks/components/layout/TaskDetailView.tsx
Labels: enhancement, tasks

#413 New Slogan
  landing-page/components/sections/StartSection.tsx
Labels: landing-page, priority:high

#411 add flexible TwoColumn
  tasks/components/layout/TwoColumn.tsx
  tasks/pages/index.tsx
  tasks/pages/organizations/[uuid].tsx
Labels: enhancement, tasks

#427 fix bug allowing resizing of TwoColumn
  tasks/components/layout/TwoColumn.tsx
Labels: enhancement, tasks

#449 change data types and translation to use notes
  tasks/components/KanbanColumn.tsx
  tasks/components/cards/TaskCard.tsx
  tasks/components/layout/TaskDetailView.tsx
  tasks/mutations/room_mutations.ts
Labels: enhancement, tasks

#450 improve TwoColumn and make PatientDetails flexible
  tasks/components/layout/PatientDetails.tsx
  tasks/components/layout/TwoColumn.tsx
  tasks/pages/ward/[uuid].tsx
Labels: enhancement, tasks

#448 hide taskcard progress if no subtasks
  tasks/components/cards/TaskCard.tsx
Labels: enhancement, tasks

#435 make DashboardDisplay flexible
  tasks/components/layout/DashboardDisplay.tsx
  tasks/components/layout/TwoColumn.tsx
  tasks/pages/index.tsx
Labels: enhancement, tasks

#436 make FeatureDetails flexible
  tasks/components/FeatureDisplay.tsx
  tasks/components/layout/FeatureDetails.tsx
  tasks/pages/index.tsx
Labels: enhancement, tasks

#440 make ward page flexible
  tasks/components/TaskTemplateWardPreview.tsx
  tasks/components/layout/WardDetails.tsx
  tasks/pages/organizations/[uuid].tsx
Labels: enhancement, tasks
